.root {
	display: flex;
	height: 100%;
	min-height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 50px;
	color: rgb(var(--primary));
}
.description {
	font-size: 22px;
	text-align: center;
	margin-bottom: 15px;
}

.btn {
	& svg {
		margin-left: 5px;
	}
}
