.item {
	display: flex;
	position: relative;
	align-items: center;
	@include text-sm;
	padding: 6px 8px 6px 32px;
	cursor: default;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: var(--rounded-sm);
	user-select: none;

	&:focus {
		background: rgb(var(--accent));
		color: rgb(var(--accent-foreground));
	}

	&data-[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}

	&__indicator {
		display: flex;
		position: absolute;
		width: 14px;
		height: 14px;
		left: 8px;
		justify-content: center;
		align-items: center;

		& > svg {
			width: 8px;
			height: 8px;
		}
	}
}
