.content {
	width: 288px;
	padding: 16px;
	border-width: 1px;
	border-radius: var(--rounded-md);
	background: rgb(var(--popover));
	box-shadow: var(--shadow-md);
	color: rgb(var(--popover-foreground));
	z-index: 50;

	&data-[state='open'] {
		@include animate-in;
		@include zoom-in;
	}

	&data-[state='closed'] {
		@include animate-out;
		@include zoom-out;
	}

	&data-[side='bottom'] {
		@include slide-in-from-top(-8px);
	}

	&data-[side='left'] {
		@include slide-in-from-right(8px);
	}

	&data-[side='right'] {
		@include slide-in-from-left(-8px);
	}

	&data-[side='top'] {
		@include slide-in-from-bottom(8px);
	}
}
