.root {
	position: relative;
}

.content {
	position: absolute;
	min-width: 200px;
	display: flex;
	top: calc(100% + 10px);
	left: calc(50% - 100px);
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.trigger {
	padding: 8px 12px;
	background: #fff;
}
