@import './reset';
@import './vars';

html {
	color: rgb(var(--text-secondary));
}
body {
	position: relative;
}
#dialog-root {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

#portal-root {
	position: relative;
}
