// Animation

@mixin animate-in($duration: 0.3s, $timing-function: ease-in) {
	animation: fadeIn $duration $timing-function;
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

@mixin animate-out($duration: 0.3s, $timing-function: ease-out) {
	animation: fadeOut $duration $timing-function;
	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

@mixin zoom-out(
	$from: 1,
	$to: 0.95,
	$duration: 0.3s,
	$timing-function: ease-out
) {
	animation: zoomOut $duration $timing-function;
	@keyframes zoomOut {
		from {
			transform: scale($from);
		}
		to {
			transform: scale($to);
		}
	}
}

@mixin zoom-in(
	$from: 0.95,
	$to: 1,
	$duration: 0.3s,
	$timing-function: ease-out
) {
	animation: zoomIn $duration $timing-function;
	@keyframes zoomIn {
		from {
			transform: scale($from);
		}
		to {
			transform: scale($to);
		}
	}
}

@mixin slide-out-to-left(
	$from: 0,
	$to: -50%,
	$duration: 0.3s,
	$easing: ease-out
) {
	animation: slideOutToLeft $duration $easing;

	@keyframes slideOutToLeft {
		from {
			transform: translateX($from);
		}
		to {
			transform: translateX($to);
		}
	}
}

@mixin slide-out-to-top(
	$from: 0,
	$to: -48%,
	$duration: 0.3s,
	$easing: ease-out
) {
	animation: slideOutToTop $duration $easing;

	@keyframes slideOutToTop {
		from {
			transform: translateY($from);
			opacity: 1;
		}
		to {
			transform: translateY($to);
			opacity: 0;
		}
	}
}

@mixin slide-in-from-left(
	$from: 100%,
	$to: 0,
	$duration: 0.3s,
	$easing: ease-in
) {
	animation: slideInFromLeft $duration $easing;

	@keyframes slideInFromLeft {
		from {
			transform: translateX($from);
			opacity: 0;
		}
		to {
			transform: translateX($to);
			opacity: 1;
		}
	}
}

@mixin slide-in-from-right(
	$from: 100%,
	$to: 0,
	$duration: 0.3s,
	$easing: ease-in
) {
	animation: slideInFromRight $duration $easing;

	@keyframes slideInFromRight {
		from {
			transform: translateX($from);
			opacity: 0;
		}
		to {
			transform: translateX($to);
			opacity: 1;
		}
	}
}

@mixin slide-in-from-top(
	$from: 48%,
	$to: 0,
	$duration: 0.3s,
	$easing: ease-out
) {
	animation: slideInFromTop $duration $easing;

	@keyframes slideInFromTop {
		from {
			transform: translateY(-$from);
			opacity: 0;
		}
		to {
			transform: translateY($to);
			opacity: 1;
		}
	}
}

@mixin slide-in-from-bottom(
	$from: 48%,
	$to: 0,
	$duration: 0.3s,
	$easing: ease-out
) {
	animation: slideInFromBottom $duration $easing;

	@keyframes slideInFromBottom {
		from {
			transform: translateY($from);
			opacity: 0;
		}
		to {
			transform: translateY($to);
			opacity: 1;
		}
	}
}

@mixin translate-y($value: 4px, $duration: 0.3s, $easing: ease-in) {
	transform: translateY($value);
	transition: transform $duration $easing;
}

@mixin translate-x($value: 4px, $duration: 0.3s, $easing: ease-in) {
	transform: translateX($value);
	transition: transform $duration $easing;
}

// Text

@mixin text-lg($weight: 400) {
	font-size: 18px;
	font-weight: $weight;
	line-height: 28px;
}

@mixin text-sm($weight: 400) {
	font-size: 14px;
	font-weight: $weight;
	line-height: 20px;
}

@mixin text-xs($weight: 400) {
	font-size: 12px;
	font-weight: $weight;
	line-height: 16px;
}

@mixin text-2xl($weight: 400) {
	font-size: 24px;
	font-weight: $weight;
	line-height: 32px;
}
