// Text

@mixin text-lg($weight: 400) {
	font-size: 18px;
	font-weight: $weight;
	line-height: 28px;
}

@mixin text-sm($weight: 400) {
	font-size: 14px;
	font-weight: $weight;
	line-height: 20px;
}

@mixin text-xs($weight: 400) {
	font-size: 12px;
	font-weight: $weight;
	line-height: 16px;
}

@mixin text-2xl($weight: 400) {
	font-size: 24px;
	font-weight: $weight;
	line-height: 32px;
}
