:root {
	--background: 255, 255, 255;
	--foreground: 2, 8, 23;
	--card: 255, 255, 255;
	--card-foreground: 2, 8, 23;
	--popover: 255, 255, 255;
	--popover-foreground: 2, 8, 23;
	--primary: 15, 23, 42;
	--primary-foreground: 248, 250, 252;
	--secondary: 241, 245, 249;
	--secondary-foreground: 15, 23, 42;
	--muted: 241, 245, 249;
	--muted-foreground: 100, 116, 139;
	--accent: 241, 245, 249;
	--accent-foreground: 15, 23, 42;
	--destructive: 39, 68, 68;
	--destructive-foreground: 248, 250, 252;
	--border: 226, 232, 240;
	--input: 226, 232, 240;
	--ring: 2, 8, 23;
	--radius: 8px;
	--chart-1: 231, 110, 80;
	--chart-2: 42, 157, 144;
	--chart-3: 39, 71, 84;
	--chart-4: 232, 196, 104;
	--chart-5: 244, 164, 98;

	//color
	--bg-blue-500: 60, 131, 246;
	--bg-black: 0, 0, 0;

	// shadow
	--shadow-lg:
		0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-md: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

	// rounded
	--rounded-lg: 8px;
	--rounded-md: 6px;
	--rounded-sm: 2px;
}
