.root {
	position: relative;
	display: flex;
	flex-direction: column;

	input {
		width: 100%;
	}
}

.label {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
	color: rgb(var(--text-primary));

	& > span {
		color: red;
	}
}

.relative {
	display: flex;
	justify-content: space-between;
	border-radius: var(--radius-mid);
	border: 1px solid var(--input);
}
