.content {
	position: relative;
	max-height: 380px;
	min-width: 128px;
	border-width: 1px;
	border-radius: var(--rounded-md);
	overflow: hidden;
	background: rgb(var(--popover));
	box-shadow: var(--shadow-md);
	color: rgb(var(--popover-foreground));
	z-index: 50;

	&data-[state='open'] {
		@include animate-in;
		@include zoom-in;
	}

	&data-[state='closed'] {
		@include animate-out;
		@include zoom-out;
	}

	&data-[side='bottom'] {
		@include slide-in-from-top(-8px);
	}

	&data-[side='left'] {
		@include slide-in-from-right(8px);
	}

	&data-[side='right'] {
		@include slide-in-from-left(-8px);
	}

	&data-[side='top'] {
		@include slide-in-from-bottom(8px);
	}

	&_poper {
		&data-[side='bottom'] {
			@include translate-y(4px);
		}

		&data-[side='left'] {
			@include translate-x(-4px);
		}

		&data-[side='right'] {
			@include translate-x(4px);
		}

		&data-[side='top'] {
			@include translate-y(-4px);
		}
	}

	&__viewport {
		padding: 4px;

		&_popper {
			width: 100%;
			height: 20px;
		}
	}
}
