.content {
	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		border-radius: var(--rounded-sm);
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}

		&:focus {
			outline: none;
		}

		&:disabled {
			pointer-events: none;
		}

		&data-[state='open'] {
			background: rgb(var(--secondary));
		}

		& > svg {
			width: 16px;
			height: 16px;
		}

		& > span {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border-width: 0;
		}
	}
}
