.trigger {
	display: flex;
	@include text-sm;
	align-items: center;
	user-select: none;
	padding: 6px 8px;
	outline: none;
	border-radius: var(--rounded-sm);

	&:focus {
		background: rgb(var(--accent));
	}

	&data-[state='open'] {
		background: rgb(var(--accent));
	}

	&_inset {
		padding-left: 32px;
	}

	& > svg {
		width: 16px;
		height: 16px;
		margin-left: auto;
	}
}
